<body>
    <div class="materialContainer">
    
        <div class="box">
    
            <div class="title">NUEVO PILOTO</div>
    
            <div class="input">
                <input type="text" name="name" id="name" placeholder="Nombre">
                <span class="spin"></span>
            </div>
    
            <div class="input">
                <input type="text" name="name" id="name" placeholder="Pais">
                <span class="spin"></span>
            </div>
    
            <div class="input">
                <input type="text" name="name" id="name" placeholder="Escuderia">
                <span class="spin"></span>
            </div>
    
            <div class="button login">
                <button><span>AÑADIR</span> <i class="fa fa-check"></i></button>
            </div>
    
        </div>
    
    </div>
    </body>