<body>
<div class="materialContainer">

    <div class="box">

        <div class="title">NUEVO CIRCUITO</div>

        <div class="input">
            <input type="text" name="name" id="name" placeholder="Nombre GP">
            <span class="spin"></span>
        </div>

        
        <div class="input">
            <input type="text" name="name" id="name" placeholder="Nombre Circuito">
            <span class="spin"></span>
        </div>

        
        <div class="input">
            <input type="text" name="name" id="name" placeholder="Pais Localización">
            <span class="spin"></span>
        </div>

        <div class="button login">
            <button><span>AÑADIR</span> <i class="fa fa-check"></i></button>
        </div>

    </div>

</div>
</body>