<body>

  <div class="card-circuit">
      <div class="thumbnail"><img class="left" src="https://s1.cdn.autoevolution.com/images/news/abu-dhabi-on-track-to-host-night-race-in-f1-5138_1.jpg" /></div>
      <div class="right">
          <h1 p-2 style="font-weight: bold;"> {{circuitoInfo[0]}} </h1>
          <div class="separator"></div>
          <div>
              <p style="font-weight: bold;">Nombre de circuito :</p>
              <p>{{circuitoInfo[1]}} </p>
              <p style="font-weight: bold;">Pais :</p>
              <p>{{circuitoInfo[2]}} </p>
              <p style="font-weight: bold;">Creador Circuito :</p>
              <p>{{circuitoInfo[3]}} </p>
          </div>
      </div>
  </div>

  </body>
