<!-- Mapa amb la localitzacio del circuit -->

<body [ngStyle]="{'background-color': '#ca3443'}">

    <div style="width: 100%"><iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=200&amp;hl=es&amp;q=London+(Formula%201)&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
        href="https://www.mapsdirections.info/marcar-radio-circulo-mapa/"></a>
    </div>

    <!-- Cartes dels pilotos de x escuderia -->
    <div class="row cartasPilotosCentrado">

        <!--Este ngFor recorre els pilotos-->
        <div *ngFor="let piloto of pilotos" class="example-2 card2">
            <div class="wrapper"
                style="background: url(./assets/img/imagenes-pilotos/{{piloto.imagen_piloto}}) center/cover no-repeat;">
                <div class="header">
                    <div class="date">
                        <span class="day" style="color: white;">Debut {{piloto.nombre}}</span>
                    </div>
                    <br>
                    <div class="date">
                        <span class="day" style="color: white;">Titulos Mundiales {{piloto.titulos_mundiales}}</span>
                    </div>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author" style="color: white;">{{piloto.escuderia_actual}}</span>
                        <h1 class="title" style="color: white;">{{piloto.nombre}}</h1>
                        <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the
                            Survive soundtrack, out today.</p>
                        <a href="#" class="button"> <img src="./assets/img/w80/{{piloto.bandera}}.png" height="20px"
                                width="30px"> </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Informacion Escuderia -->
    <div class="informacionEscuderiaCentrado alert alert-danger" role="alert">
        <h4 class="alert-heading">{{escuderia.nombre}}</h4>
        <p class="text-center">{{escuderia.informacion}}</p>

        <hr>
        <p class="mb-0 text-center">Titulos de constructores {{escuderia.titulos_constructores}}</p>

        <hr>
        <p class="mb-0 text-center">Año de fundacion {{escuderia.fecha_fundacion}}</p>
    </div>

</body>
