<div class="cartas">
    <div id="vueBind" class="container">
        <div v-for="data in content" class="card">
            <div class="imgBox">
                <img src="./assets/img/imagenes-pilotos/{{piloto.imagen_piloto}}" alt="piloto">
            </div>
            <div class="content">
                <div class="contentBox">
                    <h3>{{piloto.nombre}}<br><span>{{piloto.escuderia_actual | uppercase}}</span>
                      <br><br>
                      <button (click)="mostrarMensajeInfo()" type="button" class="btn btn-warning">Información</button>
                    </h3>
                </div>

            </div>
        </div>
    </div>
</div>
