<div class="cards-list">

    <div class="card ` + i + `">
        <div class="card_image"> <img src="` + e.logo_escuderia + `" /> </div>
        <div class="card_title title-white">
            <p class=""></p>
            <!--pasarli els dos id dels pilotos-->
        </div>
    </div>

    <div class="card ` + i + `">
        <div class="card_image"> <img src="` + e.logo_escuderia + `" /> </div>
        <div class="card_title title-white">
            <p class=""></p>
            <!--pasarli els dos id dels pilotos-->
        </div>
    </div>

    <div class="card ` + i + `">
        <div class="card_image"> <img src="` + e.logo_escuderia + `" /> </div>
        <div class="card_title title-white">
            <p class=""></p>
            <!--pasarli els dos id dels pilotos-->
        </div>
    </div>

    <div class="card ` + i + `">
        <div class="card_image"> <img src="` + e.logo_escuderia + `" /> </div>
        <div class="card_title title-white">
            <p class=""></p>
            <!--pasarli els dos id dels pilotos-->
        </div>
    </div>

    <div class="card ` + i + `">
        <div class="card_image"> <img src="` + e.logo_escuderia + `" /> </div>
        <div class="card_title title-white">
            <p class=""></p>
            <!--pasarli els dos id dels pilotos-->
        </div>
    </div>

    <div class="card ` + i + `">
        <div class="card_image"> <img src="` + e.logo_escuderia + `" /> </div>
        <div class="card_title title-white">
            <p class=""></p>
            <!--pasarli els dos id dels pilotos-->
        </div>
    </div>

    <div class="card ` + i + `">
        <div class="card_image"> <img src="` + e.logo_escuderia + `" /> </div>
        <div class="card_title title-white">
            <p class=""></p>
            <!--pasarli els dos id dels pilotos-->
        </div>
    </div>

    <div class="card ` + i + `">
        <div class="card_image"> <img src="` + e.logo_escuderia + `" /> </div>
        <div class="card_title title-white">
            <p class=""></p>
            <!--pasarli els dos id dels pilotos-->
        </div>
    </div>

    <div class="card ` + i + `">
        <div class="card_image"> <img src="` + e.logo_escuderia + `" /> </div>
        <div class="card_title title-white">
            <p class=""></p>
            <!--pasarli els dos id dels pilotos-->
        </div>
    </div>

    <div class="card ` + i + `">
        <div class="card_image"> <img src="` + e.logo_escuderia + `" /> </div>
        <div class="card_title title-white">
            <p class=""></p>
            <!--pasarli els dos id dels pilotos-->
        </div>
    </div>

</div>