<div class="card-circuit">
    <div class="thumbnail"><img class="left" src="./imagenes/circuitos/`+ e.imagen_circuito + `"/></div>
    <div class="right">
    <h1 p-2>`+ e.circuito + `</h1>
    <div class="separator"></div>
    <div><!--It contributes to the development of bones and most importantly it is responsible for synthesis of your DNA and RNA...-->
    <p>Pais Localizacion: `+ e.pais_localizacion + ` </p>
    <p>Record Vuelta rapida: `+ e.record_vuelta_rapida + ` </p>
    <p>Ultimo Ganador: `+ e.ganador_ultimo_gp + ` </p>
    <p>Longitud:  `+ e.longitud_circuito + ` </p>
    <p>Ganador 2020:  `+ e.ganador_actual + ` </p>
    </div>
    </div>
    <h6>Dia de la carrera: `+ e.dia_de_la_carrera + `</h6>
    
    <div class="fab" style="background: url(./imagenes/circuitos/) center/cover no-repeat;"><i class="fa fa-arrow-down fa-3x"> </i></div>
</div>